@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

h1{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url('képek/h1\ hatter.png');
    color: blanchedalmond;
}
body{
    background-color: black;
}
.indexgomb{
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    width: 17%;
    margin: 20px 20px 20px;
    background-color: rgb(0, 0, 0, 0.4);
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: chocolate;
}

.gomblink{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: chocolate;
}

.gomblink:active{
    color: green;
}

.gomblink:hover{
    transition: 0.2s;
    text-decoration: underline;
    color: black;
}

.indexgomb:hover{
    transition: 0.5s;
    background-color: chocolate;
    transition: 0.2s;
    text-decoration: underline;
    transition: 0.2s;
    text-decoration: underline;
    color: black;
}

.gombokdiv{
    text-align: center;
    background-image: url(Képek/Terasz.jpg);
    border: green 5px solid;
    background-repeat: no-repeat;
    background-size: cover;
}

.googlemaps{
    margin-top: 5%;
    position:absolute;                  
    bottom:0;                           
    left:0;
    color: white;
    background-color: black;   
    outline: green solid 5px;  
    width: 100%;
}

iframe{
    float: left;
    outline: green solid 3px;
    margin-right: 20px;
}

.megk{
    font-size: 30px;
    margin-top: 8%;
}

.napok{
    font-size: 30px;
    list-style-image: url(Képek/pizza-li.png);
}

#nyitvatartas{
    margin-left: 5%;
    font-size: 64px;
    margin-right: 5%;
}

.nyitvatartas{
    font-size: 50px;
}

.indexhatter{
    background-image: url(Képek/Diófa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.indexkepek{
    width: 200px;
    height: 200px;
}

.story{
    text-align: center;
}

#storykep{
    background-color: blanchedalmond;
    opacity: 0.8;
}

#currentlink{
    background-color: lightgreen;
}

.pizzak{

    background-color: darkgray;
    width: 800px;
    
}
.etlapgomb{
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    width: 17%;
    margin: 20px 20px 20px;
    background-color: rgb(0, 0, 0, 0.4);  
}
#etlapgomb{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: chocolate;
}
.etlapkepek{
    width: 200px;
    height: 200px;
}
.contacts{
    color: white;
}