.indexgomb{
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    width: 17%;
    margin: 20px 20px 20px;
}
.gomblink{
    color: coral;
    text-decoration: none;
}
.gomblink:active{
    color: green;
}
.indexgomb:hover{
    transition: 0.5s;
    background-color: transparent;
    transition: 0.2s;
    text-decoration: underline;
}
.gomblink:hover{
    transition: 0.2s;
    color: white;
}
.gombokdiv{
    text-align: center;
    background-image: url(Képek/Terasz.jpg);
    border: green 5px solid;
}
.googlemaps{
    margin-top: 5%;
    position:absolute;                  
    bottom:0;                           
    left:0;
    color: white;
    background-color: black;   
    outline: green solid 5px;  
    width: 100%;
}
iframe{
    float: left;
    outline: green solid 3px;
    margin-right: 20px;
}
.megk{
    font-size: 30px;
    margin-top: 8%;
}
.napok{
    font-size: 30px;
    list-style-image: url(Képek/pizza-li.png);
}
#nyitvatartas{
    margin-left: 5%;
    font-size: 64px;
    margin-right: 5%;
}
.nyitvatartas{
    font-size: 50px;
}
.indexhatter{
    background-image: url(Képek/Diófa.jpg);
}